---
---

@import "coming_soon/fonts.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$body-bg: {{ site.data.theme.colors.background }};
$body-fg: {{ site.data.theme.colors.foreground }};
$accent: {{ site.data.theme.colors.accent }};

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-family-base;
  color: $body-fg;
}

main {
  position: absolute;
  height: 100%;
  min-width: 100%;
  background-image: url("/assets/img/coming_soon_bg.jpg");
  background-size: cover;
  background-position: 50% 20%;


  @media screen and (orientation: landscape) and (max-height: breakpoint-max(xs)) {
    height: 200vh;
    background-position: 50% 30%;
  }
}

.message {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box;

  .name {
    font-size: 5rem;
    font-family: $headings-font-family;

    @include media-breakpoint-down(xs){
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
      letter-spacing: 0.2em;
    }
  }

  h2 {
    margin: 0;
    font-size: 3rem;

    @include media-breakpoint-down(xs){
      font-size: 1.7rem;
    }
  }
}