---
---
// Display font
// https://fonts.google.com/specimen/Nunito

// Body font
// https://fonts.google.com/specimen/PT+Sans
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans&display=swap');

$font-family-base: "PT Sans", sans-serif;
$headings-font-family: "Nunito", sans-serif;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-family-base;
  color: white;
}

main {
  position: absolute;
  height: 100%;
  min-width: 100%;
  background-image: url("/assets/img/coming_soon_bg.jpg");
  background-size: cover;
  background-position: 50% 20%;
}

.message {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box;

  .name {
    font-size: 5rem;
    font-family: $headings-font-family;
  }

  h2 {
    margin: 0;
    font-size: 3rem;
  }
}